{% extends 'layout.html' %}

{% load static %}


{% block content %}
    <!-- about section start here -->
    <div class="about__section" style="margin: 100px 0px">
        <div class="container">
            <div class="about__section__inner">
                <div class="about__image">
                    <img src="assets/image/img7.jpg" alt="">
                </div>
                <div class="about__script">
                    <div class="title">
                        <h3>ABOUT ME</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Optio aliquid nesciunt vitae harum modi molestias dolore
                            minus nam repudiandae aspernatur distinctio et reiciendis
                            consequuntur assumenda quis ducimus similique velit,
                            earum doloribus! Reiciendis tenetur quam dicta laborum
                            recusandae architecto minus maiores corrupti alias,
                            voluptas quia, asperiores corporis accusamus aliquam
                            necessitatibus. Hic aliquam nisi quaerat autem voluptas,
                            mollitia doloribus accusantium, tempore facere, in perferendis
                            sunt totam alias facilis dolore consequatur sit fugit ea? Odio,
                            id! Quibusdam placeat nemo, tempora quidem labore animi sapiente
                            voluptate molestias voluptatum incidunt ratione sunt vitae
                            consequatur illo porro quaerat inventore repellendus odio,
                            fugit quam necessitatibus nulla voluptatem.
                        </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Optio aliquid nesciunt vitae harum modi molestias dolore
                            minus nam repudiandae aspernatur distinctio et reiciendis
                            consequuntur assumenda quis ducimus similique velit,
                            earum doloribus! Reiciendis tenetur quam dicta laborum
                            recusandae architecto minus maiores corrupti alias,
                            voluptas quia, asperiores corporis accusamus aliquam
                            necessitatibus. Hic aliquam nisi quaerat autem voluptas,
                            mollitia doloribus accusantium, tempore facere, in perferendis
                            sunt totam alias facilis dolore consequatur sit fugit ea? Odio,
                            id! Quibusdam placeat nemo, tempora quidem labore animi sapiente
                            voluptate molestias voluptatum incidunt ratione sunt vitae
                            consequatur illo porro quaerat inventore repellendus odio,
                            fugit quam necessitatibus nulla voluptatem.
                        </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Optio aliquid nesciunt vitae harum modi molestias dolore
                            minus nam repudiandae aspernatur distinctio et reiciendis
                            consequuntur assumenda quis ducimus similique velit,
                            earum doloribus! Reiciendis tenetur quam dicta laborum
                            recusandae architecto minus maiores corrupti alias,
                            voluptas quia, asperiores corporis accusamus aliquam
                            necessitatibus. Hic aliquam nisi quaerat autem voluptas,
                            mollitia doloribus accusantium, tempore facere, in perferendis
                            sunt totam alias facilis dolore consequatur sit fugit ea? Odio,
                            id! Quibusdam placeat nemo, tempora quidem labore animi sapiente
                            voluptate molestias voluptatum incidunt ratione sunt vitae
                            consequatur illo porro quaerat inventore repellendus odio,
                            fugit quam necessitatibus nulla voluptatem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end here -->

{% endblock %}
