
  {% load static %}

  <!-- slider section start here -->
  <div class="banner_section">
      <div class="container">
          <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="{% static 'assets/image/imgcat1.jpg' %}" />
                          <div class="slide-content">
                              <a class="a1" href="#">Cat Lover</a>
                              <a class="a2" href="#">Fall In Love With Cat </a>
                              <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                              <a class="a3" href="#"> Learn More </a>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="{% static 'assets/image/sunset-hd-background-photos-12-scaled.jpg' %}" />
                          <div class="slide-content">
                              <a class="a1" href="#">Journey</a>
                              <a class="a2" href="#">Fall In Love With Cat </a>
                              <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                              <a class="a3" href="#"> Learn More </a>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="{% static 'assets/image/img4cafe.jpg' %}" />
                          <div class="slide-content">
                              <a class="a1" href="#">Lifestyle</a>
                              <a class="a2" href="#">Fall In Love With Cat </a>
                              <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                              <a class="a3" href="#"> Learn More </a>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="{% static 'assets/image/img5coffee.jpg' %}" />
                          <div class="slide-content">
                              <a class="a1" href="#">Coffee Lover</a>
                              <a class="a2" href="#">Fall In Love With Cat </a>
                              <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                              <a class="a3" href="#"> Learn More </a>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-button-next swiper-button"></div>
                  <div class="swiper-button-prev swiper-button"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider section ending here -->
